In [44]:
#passo a passo
#passo1 Entrar na internet(abrir navegador)

import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options

navegador = webdriver.Chrome()
# abrir base de dados


tabela = pd.read_excel("commodities.xlsx")
#import unicodedata


#passo3: Para cada produto da nossa base
#passo4: Atualizar o preço na base de dados
for linha in tabela.index:
    
    
    produto = tabela.loc[linha, "Produto"]
    
    # entrar no site melhor cambio https://www.melhorcambio.com/milho-hoje(formatar caracteres para busca)
    link = f"https://www.melhorcambio.com/{produto}-hoje"
    #link = unicodedata.normalize('NFKD', link).encode('ascii', 'ignore')
    link = link.replace("ó", "o").replace("é", "e").replace("ç", "c").replace("ú", "u").replace("á", "a").replace("ã", "a")
    print(link)
    navegador.get(link)
    
    
    #p3gar cotação e formatando o valor (padrao americano)
    valor_atual = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    valor_atual = valor_atual.replace(".", "").replace(",", ".")
    valor_atual = float(valor_atual)
    print(valor_atual)
    
    #na tabela preço atual atualizar o valor
    # ''  ''  'linha, 'Coluna'
    tabela.loc[linha,"Preço Atual"] = valor_atual

#
#passo6: Decidir quais produtos a gente vai comprar 
#passo7: Exportar a base de dados atualizada

https://www.melhorcambio.com/Milho-hoje
56.51
https://www.melhorcambio.com/Soja-hoje
132.56
https://www.melhorcambio.com/Boi-hoje
267.3
https://www.melhorcambio.com/Petroleo-hoje
377.18
https://www.melhorcambio.com/Algodao-hoje
395.63
https://www.melhorcambio.com/Acucar-hoje
148.83
https://www.melhorcambio.com/Cafe-hoje
1043.39
https://www.melhorcambio.com/Ouro-hoje
313.05
https://www.melhorcambio.com/Tilapia-hoje
9.64

In [45]:
#passo2: IMportar Base de dados

display(tabela)

tabela["Comprar"] = tabela["Preço Atual"] < tabela["Preço Ideal"]

display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        56.51      NaN
1      Soja       163.59       132.56      NaN
2       Boi       282.20       267.30      NaN
3  Petróleo       424.37       377.18      NaN
4   Algodão       497.76       395.63      NaN
5    Açúcar       136.23       148.83      NaN
6      Café      1092.87      1043.39      NaN
7      Ouro       321.77       313.05      NaN
8   Tilápia         9.05         9.64      NaN

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        56.51     True
1      Soja       163.59       132.56     True
2       Boi       282.20       267.30     True
3  Petróleo       424.37       377.18     True
4   Algodão       497.76       395.63     True
5    Açúcar       136.23       148.83    False
6      Café      1092.87      1043.39     True
7      Ouro       321.77       313.05     True
8   Tilápia         9.05         9.64    False

In [46]:
navegador.quit()

tabela.to_excel("commodities_atualizado.xlsx")